/* General */
*{
    margin: 0;
    color: white;
}
/* End general */

/* Header */
header{
    background-color: #A63740;
    padding-top: 1%;
}

.close{
    padding: 1%;
}

#head{
    display: flex;
}
.title{
    flex:1;
    text-align: center;
}

/* end header */

/* Main */
main{
    /*background-color:ff0008;*/
    background: linear-gradient(90deg, red 30%, black 70%);
    display: flex;
    align-items: center;
    padding: 20px;
}

#background_image_gradient {
    display: flex;
    flex-direction: row;
}

#image_left{
    padding-left: 5px;
    padding-bottom: 5px;
}

#presentation{
    align-self: flex-end;
}

.genre>ul li{
    list-style: none;
}

/* End main */

/* Footer */
footer{
    background-color: #1d2126;
    justify-content: space-around;
}
/* recommandations */
.recommandations{
    display: contents;
    list-style: none;
}
.recommandations>ul li{
    display: inline;
    margin: 5px;
    align-items: center;
    border-bottom: 1px solid transparent;
}
.recommandations>ul li:hover{
    border-bottom: 1px solid white;
}
.slider{
    display: flex;
    flex-wrap: wrap;
}
.image_slider{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}
/* End footer */
